* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

li {
    font-family: 'Rubik',
        sans-serif !important;
    transition: 0.4s;
    cursor: pointer;
}

.shop {
    display: flex;
    gap: 30px;
    background: #30d5c8;
}


header {
    padding: 10px 30px;
    background: #cc73c2;
    display: flex;
    align-items: center;
    gap: 100px;

    >a>img {
        width: 60px;
        height: 60px;
    }

    >p {
        font-family: 'Rubik Iso',
            cursive;
        font-size: 60px;
        color: white;
    }
}

.categories {
    padding: 30px 20px;
    background: #9eff00;
    max-width: 200px;
    min-height: 100vh;
    position: sticky;


    &_list {
        display: flex;
        flex-direction: column;
        align-items: center;

        .category {
            margin-bottom: 30px;
            font-size: 20px;
            transition: 0.4s;
            cursor: pointer;
            font-family: 'Rubik',
                sans-serif;
        }

        .category:hover {
            color: rgb(255, 255, 255);
            font-weight: 400;
        }
    }
}

.product-details {
    padding: 50px 15px;
    display: none;
    background: #ffba00;
    width: 100%;

    >h2 {
        font-family: 'Rubik',
            sans-serif;
        font-size: 40px;
        margin-bottom: 20px;
    }

    >img {
        width: 200px;
        height: 200px;
        display: block;
        margin: 0 auto;
        margin-bottom: 35px !important;
    }

    >p {
        font-family: 'Rubik',
            sans-serif;
        font-size: 18px;
        margin-bottom: 10px;
    }

    >button {
        border-radius: 20px;
        border: none;
        width: 250px;
        height: 50px;
        cursor: pointer;
        transition: 0.5s;
    }

    >button:hover {
        background: #cc73c2;
        ;
    }
}

.products {
    padding: 100px;
}

.product-list {
    display: flex;
    gap: 200px;

    >li:hover {
        color: #8b00ff;
        font-size: 16px;
    }
}